.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-container {
  display: flex;
  background-color: white;
  height: 100dvh;
}
.container--patients{
  border: 1px solid red;
  width: 40vw;
}
.container--patientProfiles{
  border: 1px solid blue;
  width: 60vw;
  position: relative;
  overflow:hidden;
}
.toggle--patientList{
  margin-top: 1em;
  margin-bottom: 3em;
  margin-left: -1em;
}
.toggle--button{
  padding: .5em 5.5vw;
  border-radius: 6px;
  border: 1px rgb(167, 167, 167) solid;
  font-weight: 800;
  color: grey;
}
.myPatients--button{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.allPatients--button{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cards--patientList{
  flex: 0 1 auto;
}
.patient--card{
  background-color: #ffffff;
  border-radius: 3px;
  border: lightgray solid 2px;
  padding: 1em 2em;
  margin: .5em 3.5em;
}
.scroll{
  overflow: auto;
}
.flexRow{
  display: flex;
  flex-direction: row;
}

.flexCol{
  display: flex;
  flex-direction: column;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}

.selected{
  background-color: rgb(255, 255, 255);
  color: #00aeff;
  border: 1px solid #00aeff;
  box-shadow: 0cap 0 2px #00aeff;
  
}
.precaution-tag--simple{
  background-color: orange;
  padding: 8px;
}

.fall-tag--simple{
  background-color: Yellow;
  padding: 8px;
}
.collapse{
  animation-duration: 100ms;
}





.inner--container{
  background-color: red;
  padding: .5em;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.defineShape{
  position: absolute;
  left: 15%;
  top: 12%;
  width: 70%;
  margin: 0, auto;
  height: 88vh;
  box-shadow: .5em 0em 8px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  overflow-x: hidden;
  border: rgb(228, 228, 228) 1px solid;
  border-radius: 4px;
}